<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            width: 300px;
        }
        input, button{
            margin-bottom: 30px;
        }

    </style>
</head>
<body>
    <h1 align="center">{{ book.title }} Kitobini o'zgartirish</h1>
    <center>
        <form action="/update/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="images">
                <img src="{{ book.image.url }}" width="30%" alt="">
            </label>
            <input type="file" name="image" id="images" hidden><br>
            <input type="text" name="title" placeholder="Kitob Nomi">
            <input type="text" name="author" placeholder="Kitob Yozuvchisi">
            <input type="text" name="price" placeholder="Kitob Narxi">
            <button>O'zgartirish</button>
        </form>
    </center>
</body>
</html>